{% extends "base.html" %}
{% block head_title %}Eliminar Contrato{% endblock %}
{% block content %}
{% load bootstrap3 %}
{% load static %}
      <form method="post">
        {% csrf_token %}
        ¿Estás seguro que deseas borrar el Catalogo " {{ object }}"?
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Borrar</button>
      </form>
      <p>
        {% buttons %}
        <a href="{% url "focon:clist" %}"><button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Regresar</button></a></p>
        {% endbuttons %}
      </p>
{% endblock %}
