{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "registration" %}</title>
</head>

<body>
<p>
    {% blocktrans with site_name=site.name %}
    Usted (o alguien que pretende ser usted) ha solicitado registrar una cuenta
    en www.dmcc-iner.com. Si no fue usted, ignore este correo electrónico y su dirección
    será eliminada de nuestros registros.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    Para activar esta cuenta, haga clic en el siguiente enlace dentro de los próximos
    {{ expiration_days }} días:
    {% endblocktrans %}
</p>

<p>
  <a href="http://www.dmcc-iner.com/{% url 'registration_activate' activation_key %}">
        www.dmcc-iner.com/{% url 'registration_activate' activation_key %}
  </a>
</p>
<p>
    {% blocktrans with site_name=site.name %}
    Atentamente,
    Administrador del sitio www.dmcc-iner.com
    {% endblocktrans %}
</p>
</body>

</html>


{% comment %}
**registration/activation_email.html**

Used to generate the html body of the activation email. Should display a
link the user can click to activate the account. This template has the
following context:

``activation_key``
    The activation key for the new account.

``expiration_days``
    The number of days remaining during which the account may be
    activated.

``site``
    An object representing the site on which the user registered;
    depending on whether ``django.contrib.sites`` is installed, this
    may be an instance of either ``django.contrib.sites.models.Site``
    (if the sites application is installed) or
    ``django.contrib.sites.requests.RequestSite`` (if not). Consult `the
    documentation for the Django sites framework
    <http://docs.djangoproject.com/en/dev/ref/contrib/sites/>`_ for
    details regarding these objects' interfaces.

``user``
    The new user account

``request``
    ``HttpRequest`` instance for better flexibility.
    For example it can be used to compute absolute register URL:

        {{ request.scheme }}://{{ request.get_host }}{% url 'registration_activate' activation_key %}
{% endcomment %}
