{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
  <button class="btn btn-success my-2 my-sm-0 fa fa-key" type="submit" value="{% trans 'Reset password' %}"> Recuperar Contraseña</button>
  <a href="{% url "pago:list" %}"><button class="btn btn-danger my-2 my-sm-0 fa fa-arrow-left" type="submit"> Regresar</button></a>
    <!-- <input type="submit" value="{% trans 'Reset password' %}" /> -->
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
