{% extends "base.html" %}
{% block head_title %}Formulario{% endblock %}
{% block content %}
{% load bootstrap3 %}
{% load static %}
<h1 align= "center">Nuevo Concurso</h1>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button class="btn btn-success my-2 my-sm-0 fa fa-floppy-o" type="submit"> Guardar</button>
</form>
<p>
  {% buttons %}
  <a href="{% url "concurso:list" %}"><button class="btn btn-danger my-2 my-sm-0 fa fa-arrow-left" type="submit">Regresar</button></a>
  {% endbuttons %}
</p>
{% endblock %}
